body {
  max-width: 80ex;
  margin: auto;
  padding: 2ex;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

div.conversation {
  border: solid 1px #fafafa;
  background-color: #fafafa;
  margin: 0 20px;
  padding: 0 15px;
  border-radius: 5px;
}

div.conversation>div{
  margin: 15px 0;
}

div.sent {
  text-align: right;
  margin: 5px 0;
}

span.msg {
  padding: 5px 15px;
  margin: auto;
  border-radius: 12px;
  display: inline-block;

}

div.sent>span.msg {
  color: white;
  background-color: #218FF9;
}

div.received>span.msg {
  background-color: #E5E5EA;
}

div.received>span.note {
  color: #aaa;
}

p {
  line-height: 1.4em;
}
